@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');
body
{
	font-family: 'Lato', sans-serif;
}

#headerDiv
{
	background-color: #FFAC20;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

#pewDiv
{
	background-color: #FFAC20;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#categoryDiv
{
	background-color: #FFE394;
}

#projectsHeader
{
	background-color: #DFF2F6;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
}

.singleProjectDiv
{
	background-color: #CFF769;
	padding: 1vw;
	border: 1px solid black;
}

.singleProjectHeader
{
	background-color: #EE9A86;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.singleProjectDescription
{
	background-color: #ECF0AC;
	padding: 10px;
	text-align: center;
	font-size: 17px;
}

.singleProjectLink
{
	background-color: #ACE5F0;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

a {
	color: black;
}
